.slideshow-container {
    position: relative;
    max-width: 600px;
    margin: auto;
  }
  
  .slideshow {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    left: -55px;
    border-radius: 50rem;
  }
  
  .next {
    right: -55px;
    border-radius: 50rem;
  }
  
  .prev:hover, .next:hover {
    color: red;
  }
  

  

  